:root {
	--pozadi: lightskyblue;
	--score: red;
}

html {
	box-sizing: border-box;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: var(--pozadi);
	background-repeat: repeat;
	background-image: url('obrazky/pozadi/swirl.png');

	/*  vyzkoušej i jiná pozadí :)
	background-image: url('obrazky/pozadi/round.png');
)	background-image: url('obrazky/pozadi/whirlpool.png');
	background-image: url('obrazky/pozadi/weather.png');
	background-image: url('obrazky/pozadi/swirl.png');
	background-image: url('obrazky/pozadi/seigaiha.png');
	background-image: url('obrazky/pozadi/hypnotize.png');
	*/
}

#score {
	position: absolute;
	top: 50px;
	left: 50px;
	font-family: 'Press Start 2P', sans-serif;
	font-size: 36px;
	z-index: 999;
	color: var(--score);
}

#panacek,
#mince {
	position: absolute;
}

#mince {
	z-index: -1;
}

#panacek {
	z-index: 0;
}

#konec {
	display: none;
}

#uvod, #konec {
	position: relative;
	z-index: 1;
	max-width: 50vw;
	margin: 1vh 25%;
}

#hello, #bye {
	padding: 50px;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 25px;
	color: aliceblue;
	line-height: 3;
	background-color: palevioletred;
	border: 1px solid aliceblue;
	border-radius: 5px;
	box-shadow: 3px 3px 20px grey;
}

#start, #znovu {
	max-width: 50%;
	margin: 50px auto;
	text-align: center;
	font-family:'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 30px;
	color: aliceblue;
	line-height: 3;
	background-color: palevioletred;
	border: 1px solid aliceblue;
	border-radius: 5px;
	box-shadow: 3px 3px 20px grey;
}

#monster {
	position: absolute;
	bottom: 50px;
	right: 0;
	width: 150px;
}

#priserka {
	position: absolute;
	bottom: 0px;
	right: 0;
	width: 150px;
}

